.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid;
}

.infoBox--green {
  border-color: #7dd71d;
}

.infoBox--blue {
  border-color: #1176ce;
}

.infoBox--red {
  border-color: #fb4443;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox--red-content {
  color: #fb4443;
}

.infoBox--blue-content {
  color: #1176ce;
}

.infoBox--green-content {
  color: #7dd71d;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px;
}
